body{
    background-color:hsl(89, 30%, 47%);
    margin: 10% 20%;

}
#title{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 20px black;
    font-size: 4rem;
}

#caption{
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;

}
h1#about_legend{
    font-size: 3rem;
    color: rgb(140, 51, 51);
    text-shadow: 5px 5px 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
div#legend_data{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: hsl(89, 34%, 75%);
    margin-top: 50px ;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
}